package components

var avatarImageErrorHandle = templ.NewOnceHandle()

templ AvatarImage(src string) {
    @avatarImageErrorHandle.Once() {
        <script type="text/javascript">
            function owlOnAvatarImageError(img) {
                img.classList.add("owl-avatar-image-error");
            }
        </script>
    }
    <img class={ "owl-avatar-image" } src={ string(templ.URL(src)) } alt="avatar" onerror="owlOnAvatarImageError(this)">
}