package components

import "github.com/accentdesign/owl/icons"

templ BreadcrumbSeparator() {
    <li class={ "owl-breadcrumb-separator" } role="presentation" aria-hidden="true">
        @icons.ChevronRight("")
    </li>
}