package examples

var badgeStyles = []string{"typography.css", "badge.css"}

templ Badge() {
	@Base(badgeStyles) {
		<h2 class="owl-h2 mb-10">badge</h2>
		<span class="owl-badge">lorem ipsum</span>
	}
}
