package examples

var codeStyles = []string{"typography.css", "code.css"}

templ Code() {
	@Base(codeStyles, "code") {
		<div class="grid gap-6">
			<p>
				Some inline
				<code class="owl-code mx-1">code</code>
				block.
			</p>
			<pre class="owl-pre">
				<code class="owl-code">
					git clone https://github.com/AccentDesign/owl.git
				</code>
			</pre>
		</div>
	}
}
