package examples

var indexStyles = []string{"theme.css", "typography.css"}

templ Index() {
	@Base(indexStyles, "index") {
		<p class="owl-p">Some basic examples of components built using templ and tailwind.</p>
	}
}
