package examples

import (
    "github.com/accentdesign/owl/components"
    "github.com/accentdesign/owl/utils"
)

templ Input() {
    @Base() {
        @utils.InlineCss("css/input.css")

        <h2 class="owl-h2 mb-10">input</h2>

        @components.Input()
    }
}