package examples

import (
    "github.com/accentdesign/owl/components"
    "github.com/accentdesign/owl/css"
)

templ Label() {
    @Base() {
        @css.Include("label.css")

        <h2 class="owl-h2 mb-10">label</h2>

        @components.Label("lorem ipsum")
    }
}