package examples

var switchStyles = []string{"typography.css", "switch.css"}

templ Switch() {
	@Base(switchStyles) {
		<h2 class="owl-h2 mb-10">switch</h2>
		<label class="owl-switch">
			<input type="checkbox" role="switch"/>
			<span></span>
		</label>
	}
}
