package examples

var switchStyles = []string{"typography.css", "switch.css"}

templ Switch() {
	@Base(switchStyles, "switch") {
		<label class="owl-switch">
			<input type="checkbox" role="switch"/>
			<span></span>
		</label>
	}
}
